/* FooterComponent styling */

/* The css styling used for the footer component. */

@charset "UTF-8";

/* Footer styling. */

/* Originally from "/pages/Group-Page/assets/components/Footer/CSS Files/footer.css" */

footer {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    /* grid-area: footer; */
    width: 100%;
    height: 3.75rem; /* Fallback if needed. */
    height: var(--footerHeight, 3.75rem); /* Get the footer height variable from GroupPageMain.css. */
    top: calc(100vh - 3.75rem); /* Try to calculate the top position of the footer by the height of 100vh minus the footer height. (https://stackoverflow.com/a/17437794/14290169) */
    top: -o-calc(100vh - 3.75rem); /* Opera */
	top: -webkit-calc(100vh - 3.75rem); /* Google, Safari */
	top: -moz-calc(100vh - 3.75rem); /* Firefox */
    justify-self: center;
    align-content: center;
    text-align: center;
    padding: 0.3rem;
}

footer ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

footer li {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    display: inline-block;
    padding: none;
    font-size: 0.5rem;
    text-decoration: none;
}

footer li a {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}

footer li a:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}

footer p {
    font-size: 0.6rem;
    margin: auto;
}

.footer-logo {
    height: 1.25rem;
    filter: brightness(0) invert(1);
    margin-top: 0.3rem;
    padding: 0rem 0.3rem;
}