<!-- OldPageSideMenuCode.html -->

<!-- The below code was previously used on most pages as the side menu. It has now been replaced by sideMenu.js and the shadow DOM created by that. -->

<!-- It was previously positioned directly after the header section, within the div:           <div class="allContentFrame wrapper">



<!-- Side Menu - not considered part of the "main-content-area" -->

<div class="sideMenu" id="side-menu">

    <!-- The x close button. -->
    <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">×</a>

    <!-- The main side bar menu options. -->
    <div class="main-menu">
        <h2>Menu</h2>
        <a href="/pages/Group-Page/GroupPageHome.html"><i class="fa fa-home"></i>Home</a>
        <a href="/pages/Group-Page/Sub-Pages/Users.html"><i class="fa fa-users"></i>Users</a>
        <a href="/pages/Group-Page/Sub-Pages/Events.html"><i class="fa fa-calendar"></i>Events</a>
        <a href="/pages/Group-Page/Sub-Pages/Titans.html"><i class="fa fa-trophy"></i>Titans</a>
        <a href="/pages/Group-Page/Sub-Pages/Stats.html"><i class="fa fa-database"></i>Stats</a>
        <a href="/pages/Group-Page/Sub-Pages/Gallery.html"><i class="fa fa-picture-o"></i>Gallery</a>
        <a href="/pages/Group-Page/Sub-Pages/Ideas.html"><i class="fa fa-lightbulb-o"></i>Ideas</a>
    </div>

</div>