# Git Ignore File

# Below is a list of files that Git should not track.
# https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring

# ignore all .gslides files to ignore the Website Layouts.gslides file.
*.gslides

# ignore all .gsheet files to ignore the Tits Group Page Data.gsheet file.
*.gssheet

# ignore all files in any directory named images/Archive/ as don't need these.
images/Archive/

# ignore all files in any directory named pages/Group-Page/Archive/ as don't need these.
archives/

# ignore all files in any directory named pages/Group-Page/assets/components/Header/Archive/ as don't need these.
assets/components/Header/Archive/

# ignore all files in any directory named pages/Group-Page/assets/components/SideMenu/Archive/ as don't need these.
assets/components/SideMenu/Archive/

# ignore all files in any directory named pages/Group-Page/assets/components/Footer/Archive/ as don't need these.
assets/components/Footer/Archive/

# Examples below

## ignore all .a files
#*.a

## but do track lib.a, even though you're ignoring .a files above
#!lib.a

## only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

## ignore all files in any directory named build
#build/

## ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

## ignore all .pdf files in the doc/ directory and any of its subdirectories
#doc/**/*.pdf

# Hide the .env file
.env