/* Site Theme 2. */

/* The main css style file used for Site Theme 2 styling. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
:root {
	
	/* CSS variables - Add variables below like the given example. */
	
	/* Colours */

	/* The below colour variables are specific to this theme only. */
	--main-background-color: #5d5868;
	--secondary-background-colour: #222129;
	--page-section-color: #22202C;
	--page-section-color-rgba: 34, 32, 44;
	--accent-color-1: #EF8C73;
	--accent-color-2: #F7573A;
	--accent-color-3: #fc1d00;
	--accent-color-1-rgb: 239, 140, 115; /* Used for table highlighting. */
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--accent-color-shadow: #22202C; /* Used in the Shadow DOMs. */
	--accent-color-shadow-rgb: 34, 32, 44; /* Used in the Shadow DOMs. */
	--snap-tabs-hue: 328deg;
	--snap-tabs-hue: 10deg; /* Makes it orange. */
	--main-style-color-rgb: 247, 87, 58; /* Used for the snap tabs active a link tab. */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* HTML updates to cover the full webpage. */
html {
	/* background-image: linear-gradient(225deg, var(--accent-color-1) 0%, var(--accent-color-2) 50%, var(--accent-color-3) 100%); /* https://www.grabient.com/ */
	background-color: var(--main-background-color, black);
	background-image: linear-gradient(225deg, var(--main-background-color, black) 0%, var(--secondary-background-colour, black) 100%);
}

/* Add a lighter opacity rounded edges container to split up the sections. */
.page-section {
	background: rgba(0, 0, 0, 0.90);
	background-color: rgba(var(--page-section-color-rgba), 0.9);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Text styling. */

h1, h3, h4, h5, h6, p, th, tr, td, q, cite, section, article, span, ul, li, legend, select, option, button {
	color: var(--accent-color-white, white);
}

/* Specifically style the h2 header text to be a different colour. */
h2 {
	color: var(--accent-color-2, orange);
}

/* Specifically style the a hyperlink text to be a different colour. */
a {
	color: var(--accent-color-2, orange);
}

/* Add a class that can be added to text to give it the theme colour. */
.theme-colour-text {
	color: var(--accent-color-2, orange);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Component classes */

/* Used for dropdown selection lists text across the site. */
select, option {
	background: var(--accent-color-white, white); /* Add a background colour to the dropdown. */
	color: black; /* Select the colour of the font for the dropdown components. */
}

/* Used for buttons text across the site. */
button {
	background: linear-gradient(to left top, var(--accent-color-1, orange) 0%, var(--accent-color-2, orange) 50%, var(--accent-color-3, darkorange) 100%);
	color: var(--accent-color-white, white); /* Select the colour of the font for the button components. */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Table classes */

table {
	color: var(--accent-color-white, white);
}

th {
	background-color: rgba( 255, 255, 255, 0.10);
	background-color: var(--accent-color-2,red);
	box-shadow: inset 0rem 0rem 0rem red, inset 0rem -0.25rem 0rem var(--accent-color-3, red); /* Add a box-shadow as a bottom border so that it scrolls with the header. */
}

/* Add table borders. */
.table-column-lines {
	border-right-color: var(--accent-color-1,white);
}

/* Cell highlighting. */
td:hover {
	border: 0.1rem solid var(--accent-color-white,white);
}

/* Row highlighting. */
tr:hover {
	background-color: var(--accent-color-1, pink); /* Fallback colour - no opacity. */
	background-color: rgba(var(--accent-color-1-rgb), 0.3); /* Same colour with opacity. */
	color: var(--accent-color-white, white);
}

/* Column highlighting. Only on tables with class "column-highlight". */
.column-highlight td:hover::after, th:hover::after {
	background-color: var(--accent-color-1, pink); /* Fallback colour - no opacity. */
	background-color: rgba(var(--accent-color-1-rgb), 0.3); /* Same colour with opacity. */
	color: var(--accent-color-white, white);
}

.sticky-col {
	background-color: rgba( 255, 255, 255, 0.10);
	background-color: var(--accent-color-2,red);
}

/* Add 4th row underline for Titan status. */
/* .titan4thRow tr:nth-child(4){
	border-bottom: 0.25rem solid var(--accent-color-3, red);
} */

/* Add 5th row underline for Titan status. */
.titan5thRow tr:nth-child(5){
	border-bottom: 0.25rem solid var(--accent-color-3, red);
}

/* Add 6th row underline for Titan status if a Tool Tip is being used on the table as two extra rows. */
.titan6thRow tr:nth-child(6){
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	border-bottom: 0.25rem solid var(--accent-color-3, red);
}

/* Tooltip Styling - used in tables. */

/* Tooltip text */
.tooltip .tooltiptext {
	background-color: var(--secondary-background-colour, black);
	color: var(--accent-color-white, white);
	border: 0.2rem solid var(--accent-color-white, white);
}

/* Add a tool tip arrow. https://www.bitdegree.org/learn/css-tooltip. */
.tooltip .tooltiptext::after {
    border-color: transparent transparent var(--secondary-background-colour, black) transparent; /* This will make the top border black */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Snap Tabs CSS */

article {
    color: var(--accent-color-white, white);
}

snap-tabs {
    --accent: var(--snap-tabs-hue) 100% 54%;
    --accent-reduced: var(--snap-tabs-hue) 90% 90%;
}

snap-tabs a, snap-tabs article, snap-tabs snap-tabs-header, snap-tabs nav, snap-tabs section {
    outline-color: hsl(var(--accent));
}

snap-tabs>snap-tabs-header {
    --text-active-color: var(--accent-color-white, white);
	background-color: var(--page-section-color, black);
	border-top: 0.125rem solid var(--accent-color-white, white);
}

snap-tabs>snap-tabs-header a {
    --text-color: #BDBDBD; /* Need the variable --text-color as needed in the JavaScript. */
	/*--text-color: var(--accent-color-2, white); /* Need the variable --text-color as needed in the JavaScript. */
	color: var(--text-color, white); /* Change the colour of the non active snap tabs header links. */
	color: var(--accent-color-2, white);
}

snap-tabs>snap-tabs-header a:hover {
    background: hsl(var(--accent)/5%);
}

snap-tabs>snap-tabs-header>.snap-indicator {
    background: hsl(var(--accent));
}

/* Add snap-tab-header links styling for users with no reduced motion settings. */
snap-tabs>snap-tabs-header a {
	/* Turn below two code blocks on for the indicator to be above the header text. */
	border-block-start: var(--indicator-size) solid hsl(var(--accent)/0%);
	-webkit-border-before: var(--indicator-size) solid hsl(var(--accent)/0%);
	/* Turn below two code blocks on for the indicator to be below the header text. */
	-webkit-border-after: var(--indicator-size) solid hsl(var(--accent)/0%);
	border-block-end: var(--indicator-size) solid hsl(var(--accent)/0%);
	transition: color .7s ease, border-color .5s ease;
}
snap-tabs>snap-tabs-header a:active, snap-tabs>snap-tabs-header a:target, snap-tabs>snap-tabs-header a[active] {
	/* background-color: hsl(var(--accent-reduced)); */
	background-color: rgba(var(--main-style-color-rgb), 0.2);
	color: var(--text-active-color);
	border-block-start-color: hsl(var(--accent));
	border-block-end-color: hsl(var(--accent));
}

/* Add snap-tab-header links styling for users with reduced motion settings. */
@media (prefers-reduced-motion:reduce) {
    snap-tabs>snap-tabs-header a {
        /* Turn below two code blocks on for the indicator to be above the header text. */
		border-block-start: var(--indicator-size) solid hsl(var(--accent)/0%);
		-webkit-border-before: var(--indicator-size) solid hsl(var(--accent)/0%);
        /* Turn below two code blocks on for the indicator to be below the header text. */
		-webkit-border-after: var(--indicator-size) solid hsl(var(--accent)/0%);
		border-block-end: var(--indicator-size) solid hsl(var(--accent)/0%);
        transition: color .7s ease, border-color .5s ease;
    }
    snap-tabs>snap-tabs-header a:active, snap-tabs>snap-tabs-header a:target, snap-tabs>snap-tabs-header a[active] {
        /* background-color: hsl(var(--accent-reduced)); */
        background-color: rgba(var(--main-style-color-rgb), 0.2);
        color: var(--text-active-color);
        border-block-start-color: hsl(var(--accent));
        border-block-end-color: hsl(var(--accent));
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer Styling */

footer {
	background-color: rgba(var(--accent-color-shadow-rgb), 0.5);
    color: var(--accent-color-white, white);
}

footer li {
    color: var(--accent-color-white, white);
}

footer li a {
    text-decoration: none;
    color: var(--accent-color-white, white);
}

footer li a:hover {
    color: var(--accent-color-1);
    text-decoration: var(--accent-color-white, white);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Group Page Home Styling */

.content-text {
	color: var(--accent-color-white, white); /* Make both heading texts below white font. */
}

/* The header container around "TITS GROUP PAGE". */
.headercontainer {
	background: var(--accent-color-1, pink);
	background-image: linear-gradient(290deg, var(--accent-color-3, black) 0%, var(--accent-color-2, black) 50%, var(--accent-color-1, black) 100%);
	border-radius: var(--border-radius, 0.2rem);
}

/* Avatar class for the main image. */
.avatar {
	background-color: rgba(255, 255, 255, 0.075);
	border: solid 0.2rem var(--accent-color-1);
}

/* Middle Ticker Container */
.ticker-wrap {
	background: rgba(0, 0, 0, 0.90);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Gallery Styling */

.slider {
    background-color: #ccc;
}

.slider:before {
    background-color: var(--accent-color-white, white);
}

input:checked + .slider {
    background-color: #2196F3;
	background-color: var(--accent-color-3, orange);
}
  
input:focus + .slider {
    box-shadow: 0rem 0rem 0.06rem #2196F3;
}

.gallery-cover-text {
    color: var(--accent-color-white, white);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Gallery Subpage Styling */

/* The Modal (background) */
.modal {
    background-color: var(--secondary-background-colour, black);
}

/* Number text (1/3 etc) */
#numbertext {
    color: var(--accent-color-white, white);
}

/* The Close Button */
.close {
    color: var(--accent-color-white, white);
}
.close:hover,.close:focus {
    color: #999;
}

/* Next & previous buttons */
.prev,.next {
    color: var(--accent-color-white, white);
}

/* On hover, add a black background color with a little bit see-through */
.button-div:hover {
    background-color: rgba(var(--accent-color-shadow-rgb), 0.2);
}

/* Caption text */
.caption-container {
    background-color: var(--accent-color-black, black);
    color: var(--accent-color-white, white);
}

.hover-shadow:hover {
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.2), 0rem 0.375rem 1.25rem 0rem rgba(0, 0, 0, 0.19);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Individuals Page Styling  */

/* Add individuals table styling. */

.individualsTable tr:hover {
	background-color: var(--accent-color-1, pink);
	color: var(--accent-color-white, white);
}

/* Consider inverting the logos to make them white. */

#proTeamLeagueLogo {
	/* filter: brightness(0) invert(1); */
	margin: 0rem auto; /* Add no margin above or below, but auto margin either side to center the logo. */
}

#dorkiniansLogo {
	/* filter: brightness(0) invert(1); */
	margin: 0rem auto; /* Add no margin above or below, but auto margin either side to center the logo. */
}

#ashcombeLogo {
	/* filter: brightness(0) invert(1); */
	margin: 0rem auto; /* Add no margin above or below, but auto margin either side to center the logo. */
}

#ashcombeLogoText {
	filter: brightness(0) invert(1);
	margin: 0rem auto; /* Add no margin above or below, but auto margin either side to center the logo. */
}

#brockhamBadgersLogo {
	filter: brightness(0) invert(1);
	margin: 0rem auto; /* Add no margin above or below, but auto margin either side to center the logo. */
}

/* Add styling for the Individual Stats table. */

.first-col-individuals-stats {
	background-color: rgba( 255, 255, 255, 0.0); /* Removes all background colour. */
}

.data-col-individuals-stats {
	color: var(--accent-color-2,red);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Stats Styling */

/* Syle the displayed stats information. */

#stats-title {
	color: var(--accent-color-white, white);
}

.reporting-link-container {
	color: var(--accent-color-white, white);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* User Styling */

.glass-card {
	background-color: rgba(var(--page-section-color-rgba), 0.9);
	/* border: 0.06rem solid rgba( 255, 255, 255, 0.18 ); */
}

.alias-container {
	background-color: rgba(255, 255, 255, 0.1);
}

h2.user-name {
	color: var(--accent-color-2, orange);
}

ul {
	color: var(--accent-color-white, white);
}

li:hover {
	background-color: var(--accent-color-1, pink);
}