<!-- OldPageFooterCode.html -->

<!-- The below code was previously used on all pages as the footer. It has now been replaced by footer.js and the shadow DOM created by that. -->

<!-- It was previously positioned directly below the ending div of;         <div class="allContentFrame wrapper"> -->

    <!-- Footer -->
	<!-- Create a sticky footer - https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page -->

    <footer class="footer fadein">

		<!-- <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p> -->
		<a href="https://github.com/bangsluke/bangsluke">&copy; 2021 bangsluke designs.</a>
		<a href="#">&nbsp</a>
		<a href="mailto:bangsluke@gmail.com" class="icon fa fa-envelope">&nbsp</a>

	</footer>