/* DropdownOptions styling */

/* The css styling used for the drop down options component. https://codepen.io/marijoha/pen/zKjvEw. */

/* New dropdown styling. */

form {
	width: 80%;
	height: 1rem;
}

.chosen-value, .value-list {
  position: absolute;
  width: 80%;
  height: 2rem;
  margin: auto;
}

.chosen-value {
	text-transform: uppercase;
	font-weight: 200;
	padding: 0.4rem;
	background-color: #FAFCFD;
	background-color: #ffffff;
	border: 0.1875rem solid transparent;
	transition: .3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder {
	color: #333;
}
	
.chosen-value:hover {
	background-color: #ffffff;
	cursor: pointer;
}
	
.chosen-value::-webkit-input-placeholder {
	color: #333;
}
	
.chosen-value:focus, .open {
	box-shadow: 0rem 0.3125rem 0.5rem 0.5rem rgba(0,0,0,0.2);
	outline: 0;
	background-color: #ffffff;
	color: #000;
}
	
.chosen-value::-webkit-input-placeholder {
	color: #000;
}
  
.value-list {
	list-style: none;
	margin-top: 2rem;
	box-shadow: 0rem 0.3125rem 0.5rem 0rem rgba(0,0,0,0.2);
	overflow: hidden;
	max-height: 0rem;
	transition: .3s ease-in-out;
}
  
.value-list.open {
	max-height: 20rem;
	overflow: auto;
}
	
li {
	position: relative;
	height: 2rem;
	background-color: #FAFCFD;
	padding: 1rem;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background-color .3s;
	opacity: 1;
}
	
li:hover {
	background-color: #FF908B;
}
	
li.closed {
	max-height: 0rem;
	overflow: hidden;
	padding: 0rem;
	opacity: 0;
}