/* SideMenu styling */

/* The css styling used for the side menu. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	/* line-height: 15px; */
}

/* Side Menu CSS */

.burgericon-container {
	/* background: blue; */
	height: 55px;
	width: 55px;
	/* padding-right: 40px; */
	/* margin-right: 0px; */
}

.burgericon {
	color: var(--accent-color-white);
	top: 0px;
	left: 0px;
	display: block;
	font-size: 40px;
	cursor: pointer;
	padding: 0.5rem;
	height: 55px;
	width: auto;
	margin: 0rem;
	padding: 0rem;
	/* width: 80px; */
	/* border-style: solid; */
	filter: invert(1) hue-rotate(180deg);
}

.burgericon:hover {
	color: var(--accent-color-2);
}

.sideMenu {
	height: 100%;
	width: 0rem;
	position: fixed;
	z-index: 1;
	top: 0rem;
	right: 0rem;
	background: var(--accent-color-black);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-left: solid 1px var(--accent-color-1);
	display: inline;
}

.main-menu h2 {
	text-align: center;
	letter-spacing: 7px;
	color: var(--accent-color-white);
	background: var(--accent-color-1);
	padding: 1.25rem 0rem;
}

.sideMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: var(--accent-color-white);
	display: block;
	transition: 0.3s;
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 900;
}

.sideMenu a i {
	padding-right: 15px;
}

.main-menu a:hover {
	color: var(--accent-color-2);
	background: var(--accent-color-white);
}

.sideMenu .closebtn {
	position: absolute;
	top: 0rem;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	padding: 0.2rem;
}

/* Side menu media queries. */

/* Mobile size. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
}

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}