/* GroupPage Styling Guide. */

/* The main css style file used for the Group Page styling. */

/*
Key CSS Notes:
- Design for Mobile size first! Then scale up.
- Remember that attributes started with .attribute are for classes, and attributes started with #attribute are for ids
- "The difference is that CSS class applies a style to multiple elements. ID, on the other hand, applies a style to one unique element." 
- For details on class vs ids see here: https://careerkarma.com/blog/css-class-vs-id-2/
- Remember that for margins and padding, it goes (top, right, bottom and left).
- CSS variables - To create a CSS variable, you just need to give it a name with two hyphens in front of it and assign it a value like this: --penguin-skin: gray;
- See the bottom of this file for key tips and tricks
*/

/* Import the Open Sans font or another font from Google fonts. */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
    /* CSS variables - Add variables below like the given example. */
    /*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
    --main-style-color: #2a3950;
    --main-background-color: #2a3950;
    --accent-color-blue: #41436A;
    --accent-color-darkred: #974063;
    --accent-color-red: #f54768;
    --accent-color-orange: #ff9678;
    --accent-color-green: #99b998;
    --accent-color-white: #ffffff;
    --main-font-family: 'Calibri', sans-serif;
    /* line-height: 15px; */
}

/* HTML updates to cover the full webpage. */

html {
    background: var(--main-background-color, #2a3950);
    /* Smooth the scrolling function of any internal hyperlinks. */
    scroll-behavior: smooth;
    /* Offset all anchor links by the height of the fixed header. https://stackoverflow.com/a/56467997/14290169 */
    /* scroll-padding-top: 260px; */
}

/* Add code below. */

/* Everything below initially designed for mobile. */

/* Remove all margin and padding from full page. Turn off if you want to see sizing colours for between devices. https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=DevEd */
* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}


/* Generic body class for all HTML pages using this CSS format. */

body {
    background: #41436A;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    font-family: var(--main-font-family, sans-serif);
    width: 100%;
    min-height: 100vh;
    font-size: 25px;
}



/* Have the homepage body in grid display to allow smooth layout changes from web to mobile. */

.body-homepage {
    display: grid;
    grid-template-columns: 100%;
    /* The below properties are commented out as the body structure is organised in media queries at bottom of file. */
    /* grid-gap: 20px; */
    /* grid-template-rows: auto auto; */
    /* grid-template-areas: "header" "footer"; */
}

.body-individuals {
    background: var(--accent-color-blue, #41436A);
}

/* Header styling. */

.header {
    grid-area: header;
    background: #ff9678;
    height: 200px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-subpage {
    background: #ff9678;
    height: 50px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    left: 0px;
    top: 0px;
}

/* Content styling. */

.content {
    grid-area: content;
    background: #f54768;
    height: 200px;
    width: 100%;
    color: #ffffff;
}

.content-individuals {
    background: #f54768;
    height: max-content;
    width: 100%;
    top: 100px;
    left: 0px;
    color: #ffffff;
}

/* Avatar class for the main image. */

.avatar {
    width: 100px;
    height: auto;
    border-radius: 100%;
    display: inline-block;
    margin: 0rem 0rem 2em 0rem;
    padding: 0.2rem;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
}

/* Footer styling. */

.footer {
    grid-area: footer;
    background: #974063;
    height: max-content;
    width: 100%;
    color: #ffffff;
    justify-self: center;
    align-content: center;
}

.footer-subpage {
    background: #974063;
    height: max-content;
    width: 100%;
    color: #ffffff;
    justify-self: center;
    align-content: center;
}

/* Text styling. */

h6 {
    font-size: 12pt;
}

p {
    color: white;
}

ul {
    color: white;
}

/* Resizing the webpage for all devices. */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
240 pixels (old Android portrait mode)
320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
384 pixels (Android Nexus portrait)
414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
480 pixels (iPhone 3 and 4 landscape mode)
568 pixels (iPhone 5 and iPhone SE landscape)
600 pixels (Android Nexus landscape, Kindle portrait)
667 pixels (iPhone 6, 7 and 8 landscape)
736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
768 pixels (iPad portrait)
812 pixels (iPhone X landscape)
1024 pixels (iPad landscape) */

/* Smartphones */

/* Covers most phones such as iPhone SE (my phone). */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {
        /* background: blue; */
    }
    .body-homepage {
        grid-gap: 20px;
        grid-template-rows: auto auto;
        grid-template-areas: "header" "footer";
    }
}

/* Reduced windows on Desktops and Laptops */

/* For when a user reduces the size of their window. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
    html {
        /* background: green; */
    }
    .body-homepage {
        grid-gap: 20px;
        grid-template-rows: 20% 90% auto;
        grid-template-areas: "header" "content" "footer";
    }
}

/* iPads */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        /* background: orange; */
    }
    .body-homepage {
        grid-gap: 20px;
        grid-template-rows: 20% 90% auto;
        grid-template-areas: "header" "content" "footer";
    }
}

/* Desktops and Laptops */

/* For most normal size screen desktops and laptops. */

@media only screen and (min-width: 1224px) {
    html {
        /* background: red; */
    }
    .body-homepage {
        grid-gap: 20px;
        grid-template-rows: 20% 90% auto;
        grid-template-areas: "header" "content" "footer";
    }
}

/* Large Screens */

/* For larger monitors and displays. */

@media only screen and (min-width: 1824px) {
    html {
        /* background: yellow; */
    }
    .body-homepage {
        grid-gap: 20px;
        grid-template-rows: 20% 90% auto;
        grid-template-areas: "header" "content" "footer";
    }
}

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

/* h1::selection {
    background: var(--accent-color-pink, #F575FF);
} */

/* Add an id for fading in an item over two seconds. */

#fadein {
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

/* Add a set up for media devices with preference for dark mode. */

/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/
https://levelup.gitconnected.com/dynamic-dark-light-mode-on-the-web-d55e4c0d3aa9 */

@media (prefers-color-scheme: dark) {
    :root {
        background: #000000;
        filter: invert(1) hue-rotate(180deg);
    }
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    img:hover {
        opacity: 1;
    }
}